body{
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
}
.weatherForm{
  margin: 20px;
  display: flex;
  align-items: center;
}
.cityInput{
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}
button[type="submit"]{
  padding: 5px 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
  margin: 5px;
  color: white;
  background-color: rgb(34, 44, 241);
  cursor: pointer;
}
button[type="submit"]:hover{
  background-color: rgb(34, 44, 170);
}
.card{
  background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin-top: 0;
  margin-bottom: 25px;
}
p{
  font-size: 1.5rem;
  margin: 15px 0;
}
.cityDisplay, .tempDisplay{
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: hsl(0, 0%, 0%, 0.75);
}
.humidityDisplay{
  font-size: 2rem;
  font-weight: bold;
  color: hsl(0, 0%, 0%, 0.75);
}
.descDisplay{
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}
.ErrorDisplay{
  font-weight: bold;
  font-size: 2rem;
  color: hsl(0, 0%, 0%, 0.75);
}
.weatherEmoji{
  font-size: 4rem;   /* increased from 6rem */
  margin: 10px 0;
  animation: pop 0.5s ease-in-out;
}
